.btn {
    margin-left: 2vh;
    padding: 1.5vh 3vh;
    border-radius: 50px;
    background-color: rgba(0,0,0,0.1);
    border: none;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.btn:hover {
    background-color: rgba(153,0,0,0.8);
    color: white;
}