.btn {
    margin-left: 20px;
    padding: 9px 25px;
    border-radius: 5px;
    background-color: rgba(0,0,0,0.7);
    border: none;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.btn:hover {
    background-color: rgba(153,0,0,0.8);
    color: white;
}