

.main {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   background-color: transparent;
}

.header { 
    display: flex;
    justify-content: flex-end; 
    align-items: center;
    padding: 20px 3%;
}

.logo{
    cursor: pointer;
    margin-right: auto;
}

.list { 
   list-style: none;
}

.list li { 
   display: inline-block;
   padding: 0px 1vh;
}

.list li a { 
  transition: all 0.3s ease 0s;
}

.list li a:hover {
   color: rgba(153,0,0,1);
   text-decoration: underline;
}


